<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/switch.css">
  <link rel="stylesheet" href="../static/css/subpages.css">
  <link rel="shortcut icon" href="../static/resources/favicon.png">
  <script src="../static/script/script.js" defer></script>
  <title>Light - Hypoponics Dashboard</title>
</head>

<body>

  <div id="content">
    <!-- Header Section -->
    <header>
      <nav>
        <div id="navbar-left">
          <a href="index.html"><img src="../static/resources/icon-home.png" alt="Home Menu"></a>
          <img src="../static/resources/icon-bell.png" alt="Bell Menu">
          <img src="../static/resources/icon-refresh.png" alt="Refresh Menu">
          <img src="../static/resources/icon-share.png" alt="Share Menu">
          <img src="../static/resources/icon-gear.png" alt="Gear Menu">
        </div>
        <div id="navbar-right">
          <!-- <p>Time: </p> -->
          <img src="../static/resources/icon-sun.png" alt="Sun Menu">
          <p id="time" onload="showTime()"></p>
        </div>
      </nav>
    </header>

    <!-- Main Section -->
    <main>
      <h1>Light</h1>

      <!-- UV sensors -->
      <p>UV Sensors: [TODO]</p>

      <div class="button">
        <p>Light Button: </p>
        <!-- Button: On/off water -->
        <label class="switch">
          <input class="switch-button" type="checkbox" name="main power" onClick="" />
          <span class="slider round">
        </label>
      </div>
    </main>

  </div>
</body>

</html>