<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/switch.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="shortcut icon" href="../static/resources/favicon.png">
  <script src="../static/script/script.js" defer></script>
  <title>Temperature - Hypoponics Dashboard</title>
</head>

<body>

  <div id="content">
    <!-- Header Section -->
    <header>
      <nav>
        <div id="navbar-left">
          <a href="{{ url_for('index') }}"><img src="../static/resources/icon-home.png" alt="Home Menu"></a>
          <img src="../static/resources/icon-bell.png" alt="Bell Menu">
          <img src="../static/resources/icon-refresh.png" alt="Refresh Menu">
          <img src="../static/resources/icon-share.png" alt="Share Menu">
          <img src="../static/resources/icon-gear.png" alt="Gear Menu">
        </div>
        <div id="navbar-right">
          <!-- <p>Time: </p> -->
          <img src="../static/resources/icon-sun.png" alt="Sun Menu">
          <p id="time" onload="showTime()"></p>
        </div>
      </nav>
    </header>

    <main>

      <!-- Left Side (Text) -->
      <div id="left">
        <div id="note">
          <img src="../static/resources/icon-back.png" alt="Back Button">
          <h2>Hydroponics Dashboard</h2>
        </div>
        <h1>Temperature</h1>

        <div id="data">
          <!-- Weather API -->
          <a class="box tooltip">
            <p>Weather:</p>
            <p>{{ temperature }}°C</p>
            <span class="tooltiptext">Weather Data</span>
          </a>

          <!-- Recommended water usage -->
          <a class="box tooltip center">
            <p>Water ON/OFF:</p>
            <label class="switch">
              <input class="switch-button" type="checkbox" name="main power" onClick="" />
              <span class="slider round">
            </label>
          </a>
        </div>

      </div>

      <!-- Right Side (Image) -->
      <div id="right">
        <img src="../static/resources/temp.jpg" alt="Plant Species">
      </div>
    </main>

  </div>
</body>

</html>