<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/switch.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="shortcut icon" href="../static/resources/favicon.png">
  <script src="../static/script/script.js" defer></script>
  <title>Water - Hypoponics Dashboard</title>
</head>

<body>

  <div id="content">
    <!-- Header Section -->
    <header>
      <nav>
        <div id="navbar-left">
          <a href="{{ url_for('index') }}"><img src="../static/resources/icon-home.png" alt="Home Menu"></a>
          <img src="../static/resources/icon-bell.png" alt="Bell Menu">
          <img src="../static/resources/icon-refresh.png" alt="Refresh Menu">
          <img src="../static/resources/icon-share.png" alt="Share Menu">
          <img src="../static/resources/icon-gear.png" alt="Gear Menu">
        </div>
        <div id="navbar-right">
          <!-- <p>Time: </p> -->
          <img src="../static/resources/icon-sun.png" alt="Sun Menu">
          <p id="time" onload="showTime()"></p>
        </div>
      </nav>
    </header>

    <!-- Main Section -->
    <main>

      <!-- Left Side (Text) -->
      <div id="left">
        <div id="note">
          <img src="../static/resources/icon-back.png" alt="Back Button">
          <h2>Hydroponics Dashboard</h2>
        </div>

        <h1>Water</h1>

        <div id="data">

          <!-- Humidity -->
          <a class="box tooltip">
            <p>Humidity:</p>
            <p>{{ water }}%</p>
            <span class="tooltiptext">Humidity Data</span>
          </a>

          <!-- Recommended water usage -->
          <a class="box tooltip center">
            <form action="http://172.31.32.74:3000/" method="post">
              <input type="hidden" name="pump" value="0" />
              <button type="submit" class="btn red">Water OFF</button>
            </form>
          </a>

          <a class="box tooltip center">
            <form action="http://172.31.32.74:3000/" method="post">
              <input type="hidden" name="pump" value="1" />
              <button type="submit" class="btn">Water ON</button>
            </form>
          </a>
        </div>

        <!-- <p>Recommended: Your plant needs water!</p> -->
        <p>Prediction: The plant will need water in approximately 7 hours.</p>
      </div>

  </div>

  <!-- Right Side (Image) -->
  <div id="right">
    <!-- <img src="../static/resources/water.jpg" alt="Plant Species"> -->
  </div>
  </main>

  </div>
</body>

</html>